@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 :root {
  --color-background-light: 244 252 239;
  --color-on-background-light: 23 29 22;
  --color-surface-light: 244 252 239;
  --color-surface-dim-light: 213 220 208;
  --color-surface-bright-light: 244 252 239;
  --color-surface-lowest-light: 255 255 255;
  --color-surface-low-light: 239 246 233;
  --color-surface-light: 233 240 228;
  --color-surface-high-light: 227 234 222;
  --color-surface-highest-light: 221 229 217;
  --color-on-surface-light: 23 29 22;
  --color-surface-variant-light: 217 230 212;
  --color-on-surface-variant-light: 62 74 60;
  --color-inverse-surface-light: 43 50 42;
  --color-inverse-on-surface-light: 236 243 231;
  --color-outline-light: 110 123 107;
  --color-outline-variant-light: 189 202 185;
  --color-shadow-light: 0 0 0;
  --color-scrim-light: 0 0 0;
  --color-surface-tint-light: 0 110 37;
  --color-primary-light: 0 93 30;
  --color-on-primary-light: 255 255 255;
  --color-primary-container-light: 0 135 48;
  --color-on-primary-container-light: 255 255 255;
  --color-inverse-primary-light: 103 223 117;
  --color-secondary-light: 59 104 62;
  --color-on-secondary-light: 255 255 255;
  --color-secondary-container-light: 193 244 189;
  --color-on-secondary-container-light: 39 84 43;
  --color-tertiary-light: 0 75 169;
  --color-on-tertiary-light: 255 255 255;
  --color-tertiary-container-light: 27 111 233;
  --color-on-tertiary-container-light: 255 255 255;
  --color-error-light: 186 26 26;
  --color-on-error-light: 255 255 255;
  --color-error-container-light: 255 218 214;
  --color-on-error-container-light: 65 0 2;

  --color-background-dark: 15 21 14;
  --color-on-background-dark: 221 229 217;
  --color-surface-dark: 15 21 14;
  --color-surface-dim-dark: 15 21 14;
  --color-surface-bright-dark: 52 59 51;
  --color-surface-lowest-dark: 9 16 9;
  --color-surface-low-dark: 23 29 22;
  --color-surface-dark: 27 33 26;
  --color-surface-high-dark: 37 44 36;
  --color-surface-highest-dark: 48 55 46;
  --color-on-surface-dark: 221 229 217;
  --color-surface-variant-dark: 62 74 60;
  --color-on-surface-variant-dark: 189 202 185;
  --color-inverse-surface-dark: 221 229 217;
  --color-inverse-on-surface-dark: 43 50 42;
  --color-outline-dark: 135 148 132;
  --color-outline-variant-dark: 62 74 60;
  --color-shadow-dark: 0 0 0;
  --color-scrim-dark: 0 0 0;
  --color-surface-tint-dark: 103 223 117;
  --color-primary-dark: 103 223 117;
  --color-on-primary-dark: 0 57 15;
  --color-primary-container-dark: 0 135 48;
  --color-on-primary-container-dark: 255 255 255;
  --color-inverse-primary-dark: 0 110 37;
  --color-secondary-dark: 161 211 159;
  --color-on-secondary-dark: 10 57 19;
  --color-secondary-container-dark: 28 72 33;
  --color-on-secondary-container-dark: 174 225 172;
  --color-tertiary-dark: 174 198 255;
  --color-on-tertiary-dark: 0 46 107;
  --color-tertiary-container-dark: 27 111 233;
  --color-on-tertiary-container-dark: 255 255 255;
  --color-error-dark: 255 180 171;
  --color-on-error-dark: 105 0 5;
  --color-error-container-dark: 147 0 10;
  --color-on-error-container-dark: 255 218 214;
 }
}

*::-webkit-scrollbar {
 width: 10px;
}

*::-webkit-scrollbar-track {
 @apply bg-surface-light dark:bg-surface-dark;
}

*::-webkit-scrollbar-thumb {
 @apply dark:bg-tertiary-dark bg-tertiary-light rounded-full;
}

.material-symbols-rounded {
 font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-rounded:hover {
 font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

h1 {
 font-feature-settings: "ss01";
}

article h1 {
 @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl dark:text-primary-dark text-primary-light;
}

article h2 {
 @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl dark:text-primary-dark text-primary-light;
}
article h3 {
 @apply text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl dark:text-primary-dark text-primary-light;
}
article h4 {
 @apply text-2xl dark:text-primary-dark text-primary-light;
}
article h5 {
 @apply text-xl dark:text-primary-dark text-primary-light;
}
article h6 {
 @apply text-lg dark:text-primary-dark text-primary-light;
}

article a {
 @apply underline decoration-2 font-semibold text-tertiary-light dark:text-tertiary-dark hover:text-tertiary-light/70 dark:hover:text-tertiary-dark/70 duration-300;
}

article em {
 @apply font-bold dark:bg-tertiary-dark dark:text-on-tertiary-dark text-on-tertiary-light bg-tertiary-light px-1 rounded-sm;
}

article p {
 @apply my-4 leading-relaxed sm:leading-normal md:leading-relaxed lg:leading-loose xl:leading-9 text-base md:text-lg lg:text-lg xl:text-xl 2xl:text-2xl font-serif subpixel-antialiased  dark:text-on-background-dark text-on-background-light;
}

article ul {
 @apply list-disc text-lg pl-12 my-4 space-y-2;
 list-style-type: "📌  ";
}

article ul div {
 @apply ms-2;
}

article ul li {
 @apply dark:text-on-background-dark text-on-background-light text-base md:text-lg lg:text-lg xl:text-xl 2xl:text-2xl font-serif subpixel-antialiased;
}

article ol {
 @apply list-decimal text-lg pl-12 my-4 space-y-2;
}

article ol div {
 @apply ms-2;
}

article ol li {
 counter-increment: li;
 display: list-item;
 @apply dark:text-on-background-dark text-on-background-light text-base md:text-lg lg:text-lg xl:text-xl 2xl:text-2xl font-serif subpixel-antialiased;
}

article ol li::marker {
 display: none;
 content: "#" counter(li) " ";
 @apply dark:text-tertiary-dark text-tertiary-light;
 font-weight: bold;
}

article .alert p {
 @apply dark:bg-error-dark dark:text-on-error-dark bg-error-light text-on-error-light leading-6 font-extrabold border-none rounded-xl p-4;
}

article code {
 @apply dark:bg-primary-container-dark bg-primary-container-light text-on-primary-container-light dark:text-on-primary-container-dark px-1 rounded-md text-base md:text-lg lg:text-lg xl:text-xl 2xl:text-2xl subpixel-antialiased font-mono;
}

article pre {
 @apply p-4 rounded-3xl bg-surface-variant-dark text-on-primary-container-dark overflow-auto font-mono !important;
}

article pre::-webkit-scrollbar {
 @apply overflow-hidden overflow-x-scroll;
}

article pre code {
 @apply bg-transparent !important;
}

article table {
 @apply block table-auto overflow-hidden overflow-x-scroll;
}

article table p {
 @apply my-2 text-base md:text-lg lg:text-lg xl:text-xl 2xl:text-2xl font-serif subpixel-antialiased;
}

article th {
 @apply font-bold dark:bg-surface-low-dark bg-surface-low-light text-on-surface-variant-light dark:text-on-surface-variant-dark p-2 pl-4;
}

article tr {
 @apply border-b border-outline-light dark:border-outline-dark;
}

article td {
 @apply dark:bg-surface-dark bg-surface-light dark:text-on-background-dark text-on-background-light px-4 py-2;
}

article .table-wrapper {
 @apply rounded-xl border overflow-hidden border-outline-light dark:border-outline-dark;
}

article blockquote {
 @apply text-justify border-l-4 dark:border-outline-dark dark:text-tertiary-dark text-tertiary-light border-tertiary-light italic my-4 pl-8;
 font-family: Georgia, Times, "Times New Roman", serif;
 font-size: 1.25em;
 font-style: italic;
 line-height: 1.8em;
 padding: 1em 2em;
 position: relative;
 transition: 0.2s border ease-in-out;
 z-index: 0;
}

article blockquote::before {
 @apply dark:bg-background-dark bg-background-light;
 content: "";
 position: absolute;
 top: 50%;
 left: -4px;
 height: 2em;
 width: 5px;
 margin-top: -1em;
}

article blockquote::after {
 @apply dark:text-tertiary-light text-tertiary-dark;
 content: "”";
 position: absolute;
 top: 50%;
 left: -0.5em;
 font-size: 4em;
 font-style: normal;
 line-height: 1em;
 text-align: center;
 text-indent: -2px;
 width: 1em;
 margin-top: -0.2em;
}
