@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css);
@import url(theme.light.css) (prefers-color-scheme: light);
@import url(theme.dark.css) (prefers-color-scheme: dark);

:root,
:host {
 --md-sys-color-background: #f4fcef;
 --md-sys-color-on-background: #171d16;
 --md-sys-color-surface: #f4fcef;
 --md-sys-color-surface-dim: #d5dcd0;
 --md-sys-color-surface-bright: #f4fcef;
 --md-sys-color-surface-container-lowest: #ffffff;
 --md-sys-color-surface-container-low: #eff6e9;
 --md-sys-color-surface-container: #e9f0e4;
 --md-sys-color-surface-container-high: #e3eade;
 --md-sys-color-surface-container-highest: #dde5d9;
 --md-sys-color-on-surface: #171d16;
 --md-sys-color-surface-variant: #d9e6d4;
 --md-sys-color-on-surface-variant: #3e4a3c;
 --md-sys-color-inverse-surface: #2b322a;
 --md-sys-color-inverse-on-surface: #ecf3e7;
 --md-sys-color-outline: #6e7b6b;
 --md-sys-color-outline-variant: #bdcab9;
 --md-sys-color-shadow: #000000;
 --md-sys-color-scrim: #000000;
 --md-sys-color-surface-tint: #006e25;
 --md-sys-color-primary: #005d1e;
 --md-sys-color-on-primary: #ffffff;
 --md-sys-color-primary-container: #008730;
 --md-sys-color-on-primary-container: #ffffff;
 --md-sys-color-inverse-primary: #67df75;
 --md-sys-color-secondary: #3b683e;
 --md-sys-color-on-secondary: #ffffff;
 --md-sys-color-secondary-container: #c1f4bd;
 --md-sys-color-on-secondary-container: #27542b;
 --md-sys-color-tertiary: #004ba9;
 --md-sys-color-on-tertiary: #ffffff;
 --md-sys-color-tertiary-container: #1b6fe9;
 --md-sys-color-on-tertiary-container: #ffffff;
 --md-sys-color-error: #ba1a1a;
 --md-sys-color-on-error: #ffffff;
 --md-sys-color-error-container: #ffdad6;
 --md-sys-color-on-error-container: #410002;
}

:root,
:host {
 --md-sys-color-background: #0f150e;
 --md-sys-color-on-background: #dde5d9;
 --md-sys-color-surface: #0f150e;
 --md-sys-color-surface-dim: #0f150e;
 --md-sys-color-surface-bright: #343b33;
 --md-sys-color-surface-container-lowest: #091009;
 --md-sys-color-surface-container-low: #171d16;
 --md-sys-color-surface-container: #1b211a;
 --md-sys-color-surface-container-high: #252c24;
 --md-sys-color-surface-container-highest: #30372e;
 --md-sys-color-on-surface: #dde5d9;
 --md-sys-color-surface-variant: #3e4a3c;
 --md-sys-color-on-surface-variant: #bdcab9;
 --md-sys-color-inverse-surface: #dde5d9;
 --md-sys-color-inverse-on-surface: #2b322a;
 --md-sys-color-outline: #879484;
 --md-sys-color-outline-variant: #3e4a3c;
 --md-sys-color-shadow: #000000;
 --md-sys-color-scrim: #000000;
 --md-sys-color-surface-tint: #67df75;
 --md-sys-color-primary: #67df75;
 --md-sys-color-on-primary: #00390f;
 --md-sys-color-primary-container: #008730;
 --md-sys-color-on-primary-container: #ffffff;
 --md-sys-color-inverse-primary: #006e25;
 --md-sys-color-secondary: #a1d39f;
 --md-sys-color-on-secondary: #0a3913;
 --md-sys-color-secondary-container: #1c4821;
 --md-sys-color-on-secondary-container: #aee1ac;
 --md-sys-color-tertiary: #aec6ff;
 --md-sys-color-on-tertiary: #002e6b;
 --md-sys-color-tertiary-container: #1b6fe9;
 --md-sys-color-on-tertiary-container: #ffffff;
 --md-sys-color-error: #ffb4ab;
 --md-sys-color-on-error: #690005;
 --md-sys-color-error-container: #93000a;
 --md-sys-color-on-error-container: #ffdad6;
}
