---
import Layout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Contact Me" description="Contact Page">
 <div class="dark:bg-neutral-10 bg-neutral-98 h-full md:flex">
  <div>
   <Navbar/>
  </div>
  <div class="w-screen">
   <Header title="Hubungi kami" />
   <Footer />
  </div>
 </div>
</Layout>
