---
// layouts import
import Layout from "../layouts/MainLayout.astro";

// components import
import Hero from "../components/Hero.astro";
import Toggle from "../components/Toggle";
import ThemeMenu from "../components/ThemeMenu";
---

<Layout title="Aldi Maulana" description="Aldi Maulana's Personal Website">
 <div class="fixed top-0 right-0 p-4">
  <Toggle client:load />
 </div>
 <div class="fixed top-0 right-16 p-4">
  <ThemeMenu client:load />
 </div>
 <Hero />
</Layout>
