---
import SocialMedia from "./SocialMedia.astro";
---

<footer class="bottom-0 dark:bg-neutral-10 bg-neutral-98">
 <div class="md:max-w-2xl max-w-sm mx-auto">
  <hr
   class="bg-inverse-surface-light h-[1px] border-none dark:bg-inverse-surface-dark"
  />
 </div>

 <div
  class="flex flex-col items-stretch text-center pt-10 md:grid md:grid-cols-4 md:max-w-2xl max-w-sm mx-auto md:gap-4 gap-4"
 >
  <h1
   class="flex uppercase md:text-3xl text-xl md:col-span-2 my-auto justify-center"
  >
   <span class="font-extrabold dark:text-on-surface-dark text-on-surface-light">
    Aldi
   </span>
   <span class="font-extralight dark:text-primary-dark text-primary-light">
    Maulana
   </span>
   <span class="font-extrabold dark:text-on-surface-dark text-on-surface-light"
    >_</span
   >
  </h1>
  <div class="md:col-span-2 dark:text-on-surface-dark text-on-surface-light">
   <SocialMedia />
  </div>
 </div>
 <p
  class="py-10 text-center dark:text-on-surface-dark text-on-surface-light text-base"
 >
  Blog ini dibuat oleh kedua 🙌 saya :D
 </p>
</footer>
