---
import fotoSaya from "../images/fotoSaya.png";

import pkg from "react-icons/tb/index.js";
const { TbBrandInstagram, TbBrandFacebook, TbBrandTelegram, TbBrandLinkedin } =
 pkg;
---

<div
 class="flex mx-auto flex-col items-center justify-center dark:text-on-surface-dark text-on-surface-light font-sans dark:bg-background-dark bg-background-light h-screen w-screen text-sm sm:text-lg md:text-xl max-w-[250px] sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl 2xl:max-w-2xl"
>
 <div
  class="flex text-center items-center font-bold uppercase dark:text-primary-dark text-primary-light tracking-[.5em]"
 >
  <span>Selamat Datang</span>
 </div>
 <img
  class="mt-6 h-40 w-40 rounded-full border-4 border-outline-light dark:border-outline-dark"
  src={fotoSaya}
  alt="Foto Aldi Maulana"
 />
 <h1 class="mt-6 text-xl sm:text-3xl md:text-4xl">
  Halo👋, Saya{" "}
  <span
   class="animate-gradient bg-gradient-to-bl from-primary-light via-secondary-light to-tertiary-light dark:from-primary-dark dark:via-secondary-dark dark:to-tertiary-dark bg-[length:400%_400%] bg-clip-text font-bold text-transparent"
  >
   Aldi Maulana
  </span>
 </h1>
 <p class="mt-2 text-center">Student, Learner, and Developer.</p>
 <div class="hero-nav flex my-4 justify-evenly w-full">
  <a
   href="/blog"
   class="dark:bg-surface-lowest-dark bg-surface-highest-light px-3">Blog</a
  >
  <a
   href="/about"
   class="dark:bg-surface-lowest-dark bg-surface-highest-light px-3">About</a
  >
  <a
   href="/contact"
   class="dark:bg-surface-lowest-dark bg-surface-highest-light px-3">Contact</a
  >
 </div>
 <div class="w-full">
  <div class="mt-2 flex justify-evenly gap-4">
   <a
    href="https://instagram.com/aldimaull/"
    target="_blank"
    rel="noopener noreferrer"
   >
    <TbBrandInstagram
     className="h-7 w-7 text-tertiary-light hover:text-on-surface-light dark:group-hover:text-on-surface-dark dark:text-tertiary-dark"
    />
   </a>
   <a
    href="https://web.facebook.com/aldi.maulana.1420/"
    target="_blank"
    rel="noopener noreferrer"
   >
    <TbBrandFacebook
     className="h-7 w-7 text-tertiary-light hover:text-on-surface-light dark:group-hover:text-on-surface-dark dark:text-tertiary-dark"
    />
   </a>
   <a
    href="https://t.me/maaaauuuullll/"
    target="_blank"
    rel="noopener noreferrer"
   >
    <TbBrandTelegram
     className="h-7 w-7 text-tertiary-light hover:text-on-surface-light dark:group-hover:text-on-surface-dark dark:text-tertiary-dark"
    />
   </a>
   <a
    href="https://instagram.com/aldimaull/"
    target="_blank"
    rel="noopener noreferrer"
   >
    <TbBrandLinkedin
     className="w-7 h-7 text-tertiary-light hover:text-on-surface-light dark:group-hover:text-on-surface-dark dark:text-tertiary-dark"
    />
   </a>
  </div>
 </div>
</div>

<style>
 .hero-nav a {
  @apply px-2 py-1 rounded-full;
 }
 .hero-nav a:hover {
  @apply dark:bg-surface-low-dark bg-surface-low-light dark:text-on-surface-dark text-on-surface-light;
 }
</style>
