---
import Toggle from "./Toggle";
import Menu from "./Menu";
---

<header
 class="md:sticky top-0 left-0 md:dark:bg-neutral-20 md:bg-neutral-95 dark:bg-neutral-10 bg-neutral-98"
>
 <nav class="flex w-[88px] flex-col justify-between md:h-screen">
  <div
   class="hidden dark:text-neutral-90 text-neutral-30 md:flex md:flex-col md:items-center space-y-4 py-4 items-center"
  >
   <div class="btnNav text-center">
    <button
     ><a
      href="/blog"
      class="normal-case flex flex-col-reverse text-xs hover:font-bold"
     >
      <span class="peer">Blog</span>
      <span
       class="material-symbols-rounded text-2xl px-4 rounded-full peer-hover:bg-neutral-90 hover:bg-neutral-90 dark:peer-hover:bg-neutral-25 dark:hover:bg-neutral-25 mb-1"
       >subject</span
      >
     </a>
    </button>
   </div>
   <div class="btnNav text-center">
    <button
     ><a
      href="/contact"
      class="normal-case flex flex-col-reverse text-xs hover:font-bold"
     >
      <span class="peer">Contact</span>
      <span
       class="material-symbols-rounded text-2xl px-4 rounded-full peer-hover:bg-neutral-90 hover:bg-neutral-90 dark:peer-hover:bg-neutral-25 dark:hover:bg-neutral-25 mb-1"
       >email</span
      >
     </a>
    </button>
   </div>
   <div class="btnNav text-center">
    <button
     ><a
      href="/about/aldi-maulana"
      class="normal-case flex flex-col-reverse text-xs hover:font-bold"
     >
      <span class="peer">About</span>
      <span
       class="material-symbols-rounded text-2xl px-4 rounded-full peer-hover:bg-neutral-90 hover:bg-neutral-90 dark:peer-hover:bg-neutral-25 dark:hover:bg-neutral-25 mb-1"
       >person</span
      >
     </a>
    </button>
   </div>
  </div>
  <div class="flex md:flex-col md:items-center py-4 items-center">
   <span class="hidden md:inline end:0">
    <Toggle client:visible />
   </span>
   <Menu client:visible />
   <div class="md:hidden text-xl">
    <a href="/" class="flex uppercase">
     <span class="font-extrabold dark:text-neutral-90 text-neutral-10">
      Aldi
     </span>
     <span class="font-extralight dark:text-primary-80 text-primary-40">
      Maulana
     </span>
     <span class="font-extrabold dark:text-neutral-90 text-neutral-10">_</span>
    </a>
   </div>
  </div>
 </nav>
</header>

<script type="module">
 const activePage = window.location.pathname;
 const navLinks = document.querySelectorAll("nav a").forEach((link) => {
  if (link.href.includes(`${activePage}`)) {
   link.querySelector(".material-symbols-rounded").classList.add("active");
   link.querySelector(".peer").classList.add("font-bold");
  }
 });
</script>

<style>
 .material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
 }

 .peer:hover ~ .material-symbols-rounded,
 .material-symbols-rounded:hover,
 .btnNav:hover,
 a:hover .material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
 }

 a:hover .material-symbols-rounded {
  @apply bg-neutral-90 dark:bg-neutral-25;
 }

 .active {
  @apply dark:bg-primary-40 bg-primary-80;
 }
</style>
