---
// layout import
import Head from "./MainHead.astro";

// props
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden md:overflow-visible">
 <Head title={title} description={description} />
 <body
  class="overflow-x-hidden md:overflow-visible dark:bg-neutral-10 bg-neutral-98"
 >
  <slot />
  <script is:inline type="module">
   const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
     return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
     return "dark";
    }
    return "light";
   })();

   if (theme === "light") {
    document.documentElement.classList.remove("dark");
   } else {
    document.documentElement.classList.add("dark");
   }
   window.localStorage.setItem("theme", theme);

   const table = document.querySelector("table");
   const parent = table.parentNode;
   const wrapper = document.createElement("div");
   wrapper.classList.add("table-wrapper");

   parent.replaceChild(wrapper, table);
   wrapper.appendChild(table);
  </script>
 </body>
</html>
